.App,
.tables {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tables {
  width: 90%;
}

.table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 80%;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-top: 2rem;
}

.table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.table td,
.table th {
  padding: 12px 15px;
}

.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.table tbody tr:hover {
  background-color: #ddd;
}

input[type="text"] {
  width: 33%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 2rem;
}

.align {
  width: 100%;
}
